h1 {
    border-left: 3px solid red;
    background-color: #DDDDDD;
    width: 500px;
    font-size: 30px;
    padding-left: 10px;
    margin-left: 20px;
}

form {
    background-color: #DDDDDD;
    width: 500px;
    border: 1px solid #BBBBBB;
    border-radius: 10px;
    margin-left: 20px;
}

form div {
    padding: 10px;
}

.submit {
    margin-top: 10px;
    background-color: gray;
    color: white;
    border-radius: 5px;
}